<web-app>

	<servlet>
		<servlet-name>br.com.brejaonline.services.ApplicationJAXRS</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>br.com.brejaonline.services.ApplicationJAXRS</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>